* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: rgb(170, 255, 72);
    padding: 20px;
    display: flex;
}
nav ul{
    display: flex;
    gap: 30px;
    list-style: none;
    margin-left: auto;
}
nav ul li a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: rgba(255, 0, 0, 0.732);
    font-weight:bold;
}
nav ul li a:hover{
    color:red;
}
nav{
    display: flex;
    justify-content: center;
    width: 100%;
}
.sec-1{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
}
.sec-1-img-1{
     width: 50vw;
    height: 50vh;
    position: relative;
    top: 20%;
}
.main-heading{
    color: red;
}
.sec-2{
    position:absolute;
    top: 55%;
    left: 10%;
}
.main-heading{
    font-size: 40px;
    position: relative;
    top: -10px;
}
.hero{
    height: 100vh;
    width: 100vw;
    background-color: rgba(105, 1, 1, 0.34);
}
.sec-1-img-1{
    animation: float 3s ease-in-out infinite;

}
.sec-1-img-1:hover {
    transform: scale(1.05) translateY(-10px);
   
}
@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);

    }
    100% {
        transform: translateY(0);
    }
}